.board {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  gap: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}
