@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font-family: 'Praise', cursive;
  font-size: 4em;
  text-align: center;
  color: var(--pink);
  text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}