@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 20px;
  text-align: center;
}

h1 {
  font-family: "Praise", cursive;
  font-size: 3.5em;
  text-align: center;
  color: var(--pink);
  text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.3);
  margin: 5px;
  margin-right: 10px;
}
