p {
  font-family: "Varela Round", sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  color: var(--yellow);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0;
  margin: 0;
  padding: 5px;
}f

.playerActive {
  background: var(--pink);
  border-radius: 5px;
}

.playerInactive {
  border-radius: 5px;
}
