:root {
    --purple: #393185;
    --pink: #ec1751;
    --yellow: #e8b405;
    --grey: #c5c6c6;
    --white: #ebebeb;
}

body {
    display: flex;
    justify-content: center;
    /* align-content: start; */
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right,#393185,#411b74);
}

