:root {
    --purple: #393185;
    --pink: #ec1751;
    --yellow: #e8b405;
    --grey: #c5c6c6;
    --white: #ebebeb;
}

body {
    height: 100%;
    /* background: linear-gradient(to right,#0D47A1,#1565C0); */
    display: flex;
    justify-content: center;
    item-align: center;
    align-content: start;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right,#393185,#411b74);
}

.buttons {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    gap: 10px;
}